terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/state_backups/
terraform/vms.csv
ansible/inventory/
ansible/kubeconfig/
.env
.env.local
.env.production